
*{
  box-sizing:border-box;
  margin:0;padding:0;
  font-family:Arial,sans-serif;
}
body{
  background:#fff8f0;
  color:#333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header{
  background:#ff5722;
  color:white;
  padding:15px 20px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}
header .logo{
  font-size:22px;
  font-weight:bold
}
nav a{
  color:white;
  text-decoration:none;
  margin-left:20px;
  font-weight:600;
}
nav a:hover{
  text-decoration:underline
}
.search-bar{
  display:flex;
  justify-content:center;
  margin:20px;
}
.search-bar input{
  width:300px;
  padding:10px;
  border:2px solid #ff5722;
  border-radius:8px 0 0 8px;
  outline:none;
}
.search-bar button{
  padding:10px 16px;
  border:none;
  background:#ff5722;
  color:white;
  font-weight:bold;
  border-radius:0 8px 8px 0;
  cursor:pointer;
}
.search-bar button:hover{
  background:#e64a19;
}
.products{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:20px;
  flex-wrap: wrap;
  padding:20px;
  max-width:1100px;
  margin:auto;
}
.product-card{
  background:white;
  border:1px solid #eee;
  border-radius:10px;
  text-align:center;
  transition:0.4s;
  overflow:hidden;
  position:relative;
}
.product-card img{
  width:100%;
  height:220px;
  object-fit:cover;
  border-radius:10px;
  transition:transform 0.4s ease;;
}
.product-card h3{
  margin:10px 0 5px;
  color:#333;
}
.product-card p{
  color:#ff5722;
  font-weight:bold;
  margin-bottom:40px;
}
/* Hover effects */
.product-card:hover{
  transform:translateY(-10px);
  box-shadow:0 6px 18px rgba(0,0,0,0.2);
}
.product-card:hover img{
  transform:scale(1.08);
}
.product-card .btn-hover{
  position:absolute;
  bottom:10px;
  left:50%;
  transform:translateX(-50%) translateY(40px);
  background:#ff5722;
  color:white;
  padding:8px 16px;
  border-radius:6px;
  font-weight:bold;
  opacity:0;
  transition:all 0.4s ease;
  text-decoration:none;
}
.product-card:hover .btn-hover{
  opacity:1;
  transform:translateX(-50%) translateY(0);
}
.product-card .btn-hover:hover{
  background:#e64a19;
}
footer{
  text-align:center;
  background-color: #ff5722;
  color:white;
  padding:15px 0;
  margin-top:30px;
}
main{
  flex: 1;
  padding:10px 20px;
}
.contact-form{
  max-width:600px;
  margin:20px auto;
  display:flex;
  flex-direction:column;
  gap:10px;
}
.contact-form input,.contact-form textarea{
  padding:10px;
  border:1px solid #ccc;
  border-radius:8px;
}
.contact-form button{
  background:#ff5722;
  color:white;border:none;
  padding:10px;
  border-radius:8px;
  cursor:pointer;
}
.contact-form button:hover{
  background:#e64a19;
}